/*========== Desktop First ==========*/
/* Large Devices, Full HD*/
@media only screen and (max-width: 1920px) {
    #main video {
        max-width: 1050px;
    }

    .close-nav {
        visibility: hidden;
    }

}


/* Large Devices, Desktops */
@media only screen and (max-width: 1200px) {
    #main video {
        max-width: 950px;
    }

    .close-nav {
        visibility: hidden;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        text-align: start;
        height: auto;
        width: auto;
        line-height: 43px;
    }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(3, 290px);
        gap: 60px 40px;
        list-style-type: none;
        padding: 0px;
        margin-bottom: 91px;
    }

}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    #header {
        width: unset;
    }

    #main {
        width: fit-content;
        margin: 0;
    }

    #main video {
        max-width: 640px;
    }

    .main-header {
        padding: 0 15px;
        position: relative;
        margin-top: 40px;
    }

    .main-nav {
        display: flex;
        width: 50px;
        height: 50px;
        margin-right: 0;
        position: relative;
    }
    
    .main-header__logo {
        text-decoration: none;
        position: absolute;
        font-size: 50px; 
    }

    .main-nav__list {
        display: block;
        position: absolute;
        right: 0;
        width: 300px;
        background-color: white;
        font-size: 27px;
        margin: 0;
        text-align: center;
        bottom: 0;
        padding-top: 60px;
        top: 0;
        line-height: 22px;
    }

    .main-nav__list > .site-list__item {
        display: block;
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    .main-nav__wrapper {
        width: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        bottom: 0;
        z-index: 10000;
    }

    .headline {
        text-align: center;
        line-height: 39px;
        margin: 15px 100px 0px 100px;
        width: auto;
        font-size: 27px;
    }

    .hamburger{
        display: flex;
        align-items: center;
        margin-top: -25px;
        width: 40px;
    }

    .hamburger::before {
        content: url(../img/menu\ 1\ \(1\).svg);
        width: 24px;
        height: 24px;
        display: block;
        margin: 6px auto;
        position: absolute;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .main-nav__list:nth-child(2) {
        opacity: 0;
    }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 5px 125px;
        list-style-type: none;
        padding: 0px;
        justify-items: center;
        margin-bottom: 91px;
    }

    #main .subtitle {
        font-size: 18px;
        line-height: 36px;
        width: auto;
        margin: 10px 20px 15px 20px;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        height: unset;
    }

    #main-section .features__title {
        font-size: 25px;
        width: auto;
    }

    #main-section .features__description {
        font-size: 15px;
        width: auto;
    }

    #main-section ::before {
        width: 26px;
        height: 26px;
        position: absolute;
        margin-top: 24px;
        margin-left: -60px;
    }

    #footer {
        width: unset;
    }

    .close-nav {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        border: none;
        padding: 0;
        background-color: white;
        top: 5px;
    }

    .close-nav::before, .close-nav::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);
        left: 0;
    }

    .close-nav::after {
        transform: rotate(-45deg);
    }

    .author {
        height: 362px;
        width: 305px;
    }

    .format_quote {
        width: 50px;
        height: 50px;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        text-align: start;
        height: auto;
        line-height: 43px;
    }

    .name-of-author {
        font-size: 15px;
        margin-left: 38px;
        margin-bottom: 20px;
    }


    .job-title {
        margin-left: 38px;
        font-size: 14px;
    }

    #footer {
        flex-wrap: wrap;
    }

    #footer .footer-block {
        margin-right: 30px;
    }

    .contact-us {
        margin-right: 15px;
    }

    .main-footer {
        justify-content: space-between;
    }

    .a__footer__mail {
    color: #56FF56;
    }
}



/* Custom, Iphone */

@media only screen and (max-width: 640px) { 
    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(1, 200px);
        grid-auto-rows: minmax(93px, auto);
        gap: 100px 135px;
        list-style-type: none;
        padding: 0px;
        margin-bottom: 91px;
    }

    #main .subtitle {
        font-size: 30px;
        line-height: 36px;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        height: unset;
        width: unset;
    }

    #main-section .features__title {
        font-size: 36px;
    }

    #main-section .features__description {
        font-size: 25px;
    }

    #main-section ::before {
        width: 26px;
        height: 26px;
        position: absolute;
        margin-top: 40px;
        margin-left: -60px;
    }
    
    .a__footer__mail {
        color: #56FF56;
        }
}