/*========== Desktop First ==========*/
/* Extra Large Devices, Full HD*/
@media only screen and (max-width: 1920px) {
    #main video {
        max-width: 1050px;
    }

    .close-nav {
        visibility: hidden;
    }

}


/*Extra Large Devices, Large Desktops */
@media only screen and (max-width: 1200px) {
    #main video {
        max-width: 950px;
    }

    .close-nav {
        visibility: hidden;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        text-align: start;
        height: auto;
        width: auto;
        line-height: 43px;
    }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(3, 290px);
        gap: 60px 40px;
        list-style-type: none;
        padding: 0px;
        margin-bottom: 91px;
    }

    .job-title {
        margin-left: 38px;
        font-size: 18px;
    }

    .name-of-author {
        font-size: 18px;
        margin-left: 38px;
        margin-bottom: 20px;
    }

}


/* Large Devices, Desktops  */
    @media only screen and (max-width: 1080px) {
     #main video {
        max-width: 720px;
    }   

    .author {
        height: 462px;
        width: 405px;
    }

    #header {
        width: unset;
    }

    .main-nav {
        width: unset;
        margin: 0;
        padding: 0;
        position: unset;
    }

    .main-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 1200px;
        position: relative;
    }

    .main-nav__list .site-list__item {
        margin: 0 55px 0 0;
    }

    .main-header__logo {
        text-decoration: none;
        margin-right: 15px;
        position: unset;
        left: 0;
        margin-left: 20px;
        font-size: 28px;
    }

}


/* Large Devices, Desktops */
@media only screen and (max-width: 992px) {
    #main video {
       max-width: 720px;
   }   

   .author {
       height: 412px;
       width: 355px;
   }

   #header {
       width: unset;
   }

   .main-nav {
       width: unset;
       margin: 0;
       padding: 0;
       position: unset;
   }

   .main-header {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin: 0 auto;
       width: 1200px;
       position: relative;
   }

   .main-nav__list .site-list__item {
       margin: 0 55px 0 0;
   }

   .main-header__logo {
       text-decoration: none;
       margin-right: 15px;
       position: unset;
       left: 0;
       margin-left: 20px;
       font-size: 28px;
   }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(2, 290px);
        gap: 20px 110px;
        list-style-type: none;
        padding: 0px;
        justify-items: center;
        margin-bottom: 91px;
    }

    #main .subtitle {
        font-size: 18px;
        line-height: 36px;
        margin: 10px auto 15px auto;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        height: unset;
    }

    #main-section .features__title {
        font-size: 25px;
        width: auto;
    }

    #main-section .features__description {
        font-size: 15px;
        width: auto;
    }

    #main-section ::before {
        width: 26px;
        height: 26px;
        position: absolute;
        margin-top: 24px;
        margin-left: -60px;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        margin-right: 20px;
        text-align: start;
        height: auto;
        width: auto;
        line-height: 43px;
    }

    .social {
        margin-right: 25px;
        margin-top: 17px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {

    #header {
        width: unset;
    }

    #main {
        width: fit-content;
        margin: 0;
    }

    #main video {
        max-width: 640px;
    }

    .main-header {
        padding: 0 15px;
        position: relative;
        margin-top: 40px;
        justify-content: end;
    }

    .main-nav {
        display: flex;
        width: 50px;
        height: 50px;
        margin-right: 0;
        position: relative;
    }
    
    .main-header__logo {
        text-decoration: none;
        position: absolute;
        font-size: 50px; 
    }

    .main-nav__list {
        display: block;
        position: absolute;
        right: 0;
        width: 300px;
        background-color: white;
        font-size: 27px;
        margin: 0;
        text-align: center;
        bottom: 0;
        padding-top: 60px;
        top: 0;
        line-height: 22px;
    }

    .main-nav__list > .site-list__item {
        display: block;
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    .main-nav__wrapper {
        width: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        bottom: 0;
        z-index: 10000;
    }

    .headline {
        text-align: center;
        line-height: 39px;
        margin: 15px 100px 0px 100px;
        width: auto;
        font-size: 27px;
    }

    .hamburger{
        display: flex;
        align-items: center;
        margin-top: -25px;
        width: 40px;
    }

    .hamburger::before {
        content: url(../img/menu\ 1\ \(1\).svg);
        width: 24px;
        height: 24px;
        display: block;
        margin: 6px auto;
        position: absolute;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .main-nav__list:nth-child(2) {
        opacity: 0;
    }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 5px 125px;
        list-style-type: none;
        padding: 0px;
        justify-items: center;
        margin-bottom: 91px;
    }

    #main .subtitle {
        font-size: 18px;
        line-height: 36px;
        width: auto;
        margin: 10px 20px 15px 20px;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        height: unset;
    }

    #main-section .features__title {
        font-size: 25px;
        width: auto;
    }

    #main-section .features__description {
        font-size: 15px;
        width: auto;
    }

    #main-section ::before {
        width: 26px;
        height: 26px;
        position: absolute;
        margin-top: 24px;
        margin-left: -60px;
    }

    #footer {
        width: unset;
    }

    .close-nav {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        border: none;
        padding: 0;
        background-color: white;
        top: 5px;
    }

    .close-nav::before, .close-nav::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);
        left: 0;
    }

    .close-nav::after {
        transform: rotate(-45deg);
    }

    .author {
        height: 362px;
        width: 305px;
    }

    .format_quote {
        width: 50px;
        height: 50px;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        text-align: start;
        height: auto;
        line-height: 42px;
    }

    .name-of-author {
        font-size: 15px;
        margin-left: 38px;
        margin-bottom: 20px;
    }


    .job-title {
        margin-left: 38px;
        font-size: 14px;
    }

    #footer {
        flex-wrap: wrap;
    }

    #footer .footer-block {
        margin-right: 30px;
    }

    .contact-us {
        margin-right: 15px;
    }

    .main-footer {
        justify-content: space-between;
    }

    .a__footer__mail {
    color: #56FF56;
    }
}



/* Small Devices, Tablets */

@media only screen and (max-width: 680px) { 
    #main video {
        max-width: 500px;
    }

    #main .subtitle {
        font-size: 30px;
        line-height: 36px;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        padding-left: 50px;
        height: unset;
        width: unset;
    }

    #main-section .features__title {
        font-size: 36px;
    }

    #main-section .features__description {
        font-size: 25px;
    }

    #main-section ::before {
        width: 26px;
        height: 26px;
        position: absolute;
        margin-top: 40px;
        margin-left: -60px;
    }

    #main .subtitle {
        font-size: 20px;
        line-height: 36px;
    }

    .headline {
        text-align: center;
        line-height: 39px;
        margin: 15px 100px 0px 100px;
        width: auto;
        font-size: 31px;
    }
    
    .a__footer__mail {
        color: #56FF56;
        }

    #main-section .features__title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0;
    }

    #main-section ::before {
        position: absolute;
        margin-top: 5px;
        margin-left: 115px;
    }

    #main-section .features__item {
        padding: 0px;
        margin: 0px;
        height: unset;
        width: unset;
    }

    #main-section .features__list {
        display: grid;
        grid-template-columns: repeat(1, 260px);
        grid-auto-rows: minmax(93px, auto);
        gap: 40px;
        list-style-type: none;
        padding: 0px;
        margin-bottom: 50px;
    }

    #main-section .features__title {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 0;
    }

    #main-section .features__description {
        font-size: 25px;
        text-align: center;
    }

    .author {
        height: 302px;
        width: 255px;
    }

    .blockquote {
        font-size: 26px;
        margin-left: 38px;
        text-align: start;
        height: auto;
        line-height: 35px;
        margin-top: 0px;
    }
}

/* Small Devices, Phones */

@media only screen and (max-width: 540px) { 
    #main video {
        max-width: 350px;
    }

    #main {
        width: unset;
    }

    .main-header__logo {
        text-decoration: none;
        position: absolute;
        font-size: 45px;
    }

    .video__play-triangle {
        width: 0;
        height: 0;
        margin-top: -10px;
        margin-left: -3px;
        border-style: solid;
        border-width: 13px 0 13px 18px;
        border-color: transparent transparent transparent #ffffff;
    }

    .video__play-icon {
        height: 5px;
        width: 5px;
        padding: 25px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: 0;
        margin: auto;
    }

    .headline {
        text-align: center;
        line-height: 40px;
        margin: 20px 10px 15px 20px;
        width: auto;
        font-size: 30px;
    }

    .author-blockquote {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .desc {
        margin-right: 10px;
        width: auto;
        text-align: center;
        font-size: 40px;
        height: auto;
        margin-left: 10px;
        line-height: 47px;
    }

    #main-section .features__description {
        font-size: 20px;
        text-align: center;
    }

    .a__footer__mail {
        color: #e928bf;
        }
}



/* Custom, Iphone */

@media only screen and (max-width: 400px) { 
    #main video {
        max-width: 280px;
    }

    #main {
        width: unset;
    }

    .author-blockquote {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #main-section .features__title {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 0;
    }

    .headline {
        text-align: center;
        line-height: 40px;
        margin: 10px;
        width: auto;
        font-size: 30px;
    }

    #main-section .features__description {
        font-size: 20px;
        text-align: center;
    }

    .desc {
        margin-right: 10px;
        text-align: center;
        font-size: 36px;
        height: auto;
        width: auto;
        margin-left: 10px;
        line-height: 47px;
    }

    .main-header__logo {
        text-decoration: none;
        position: absolute;
        font-size: 40px;
    }

    .video__play-triangle {
        width: 0;
        height: 0;
        margin-top: -6px;
        margin-left: -2px;
        border-style: solid;
        border-width: 8px 0 8px 13px;
        border-color: transparent transparent transparent #ffffff;
    }

    .video__play-icon {
        height: 5px;
        width: 5px;
        padding: 15px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: 0;
        margin: auto;
    }
    
    .a__footer__mail {
        color: #e910cc;
    }
}