@font-face {
    font-family: "et-book-bold-line-figures";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/et-book-bold-line-figures.ttf") format("truetype");
    font-display: swap;
}

html, body {
    font-family: "et-book-bold-line-figures";
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    height: 100%;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

h4 {
    font-size: 18px;
}

video {
    width: 100%;;
    border-radius: 40px;
}


/* Header */
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.main-header__logo {
    font-size: 28px;
    text-decoration: none;
    margin-right: auto;
    margin-left: 20px;
    position: absolute;
    left: 0;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.main-nav__wrapper {
    display: flex;
    justify-content: center;
}

.main-nav__list {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;  
}

.main-nav__list .site-list__item {
    margin: 0 50px;
}

.site-list__link:hover {
    text-decoration: underline;
}


/* Main Container*/
.first-screen {
    display: grid;
}

.headline {
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    height: auto;
    width: 650px;
    margin-right: auto;
    margin-left: auto;   
}

.subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 726px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}

.demo {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 8px;
    background-color: royalblue;
}

.first-screen_video {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    position: relative;
}

.video__play-icon {
    height: 44px;
    width: 44px;
    padding: 32px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video__play-triangle {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-style: solid;
    border-width: 22px 0 22px 37px;
    border-color: transparent transparent transparent #ffffff;
}

.desc {
    font-size: 43px;
    line-height: 47px;
    text-align: center;
    width: 388px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.features {
    margin: auto;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    grid-auto-rows: minmax(93px, auto);
    gap: 60px 70px;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 91px;
}

.features__item {
    width: 240px;
    min-height: 138px;
    padding: 0px;
    padding-left: 50px;
    margin: 0px;
}

.features__item--finances {
    position: relative;
}

.features__item--finances::before {
    content: url(../img/Group1.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__item--dashboard {
    position: relative;
}

.features__item--dashboard::before {
    content: url(../img/Group2.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__item--privacy {
    position: relative;
}

.features__item--privacy::before {
    content: url(../img/Group3.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__item--stats {
    position: relative;
}

.features__item--stats::before {
    content: url(../img/Group4.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__item--facets {
    position: relative;
}

.features__item--facets::before {
    content: url(../img/Group5.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__item--bonuses {
    position: relative;
}

.features__item--bonuses::before {
    content: url(../img/Group6.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    margin-top: 14px;
    margin-left: -50px;
}

.features__description{
    font-size: 18px;
    line-height: 30px;
}

/* Author Blockquote*/
.author-blockquote {
    display: flex;
    justify-content: center;
}

.author{
    margin-left: 20px;
}

.format_quote {
    margin-left: 25px;
    margin-right: auto;
}

.blockquote{
    font-size: 30px;
    line-height: 60px;
    text-align: start;
    width: 440px;
    height: auto;
    margin-left: 55px;
}

.name-of-author{
    font-size: 18px;
    margin-left: 55px;
    margin-bottom: 20px;
}


/* Vacancies Section */
.vacancies-section {
    margin: auto;
    max-width: 1200px;
}

.jobs {
    font-size: 43px;
    text-align: center;
    margin: 50px auto;
}

.job-title{
    font-size: 18px;
    margin-left: 55px;
}

.vacancies-list{
    display: grid;
    gap: 20px;
    margin-left: 25px;
}

.vacancy-item__layout {
    border-style: groove;
    border-color: aliceblue;
    border-radius: 10px;
}

.vacancy-item__layout:hover {
    border-style: groove;
    border-color: royalblue;;
    border-radius: 10px;
}

.vacancy-item__header {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 40px;
}

.vacancy-item__header:hover {
    text-decoration: underline;
}

.vacancy-item__options {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-left: 20px;
}

.vacancy-item__location {
    margin-left: 20px;
    margin-right: 50px;
    position: relative;
}

.vacancy-item__location::before {
    content: url(../img/location.svg);
    width: 15px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: -4px;
}

.vacancy-item__location:hover {
    text-decoration: underline royalblue;
}

.vacancy-item__arrow-icon {
    margin-right: 20px;
    margin-left: auto;
}

.vacancy-item__time::before {
    content: url(../img/time.svg);
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: -30px;
    margin-top: -6px;
}

.vacancy-item__time:hover {
    text-decoration: underline burlywood;;
}

.show-more {
    display: flex;
}

.pagination-show-more{
    text-align: center;
    color: white;
    margin: 40px auto;
    padding: 15px;
    border-radius: 8px;
    background-color: royalblue;
}


/* Footer */
.main-footer {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #496693;
    padding-left: 40px;
}

.footer-name {
    font-size: 20px;
}

.footer__list {
    font-size: 16px;
    line-height: 30px;
    list-style-type: none;
    padding: 0;
}

.a__footer {
    color: rgba(255,255,255,0.5);
}

.a__footer:hover {
    text-decoration: underline rgba(238, 215, 4, 0.719);
}


.a__footer__mail {
    color: rgba(238, 215, 4, 0.719);
}

.social-network {
    display: flex;
}

.social {
    margin-right: 40px;
    margin-top: 17px;
}

.facebook::before {
    content: url(../img/facebook.svg);
    width: 23px;
    height: 23px;
}

.twitter::before {
    content: url(../img/twitter.svg);
    width: 23px;
    height: 23px;
}

.instagram::before {
    content: url(../img/insta.svg);
    width: 23px;
    height: 23px;
}

.pinterest::before {
    content: url(../img/pinterest.svg);
    width: 23px;
    height: 23px;
}


/* Visually Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  